<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
	<script src="/jquery/jquery.js"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Organization</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    	<li class="nav-item">
        <a class="nav-link active" href = "/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href = "/organization/create">Create Campaign </span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href = "home/campaignlist">Campaign list </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "home/bookmarkslist">Bookmarks list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "organization/generate"> Generate </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href ="/logout">logout</a>
      </li>
    </ul>
    
      <input class="form-control mr-sm-2 name" type="search" name="name" id="name" placeholder="Search Campaign by title">
      <button class="btn btn-outline-success my-2 my-sm-0 search"  type="submit">Search</button>
  </div>
</nav> 
	<hr>

	<div id="info">
		
	</div>

	<!-- <fieldset>
				
				<table>
					<tr>
						<td><label for="name">Search Campaign: </label></td>
						<td>
							<input id = "name" class="name" type="text" name="name" placeholder="Campaign title">
						</td>
						<td>
							<button class="search">Search</button>
						</td>
					</tr>
				</table>
				
			</fieldset> -->
		
	</div>


	<br>
	<%= typeof msg1 != 'undefined' ? msg1 : '' %>
	<form method="post" enctype="multipart/form-data">
		<fieldset>
			<table>
				<tr>
					<td>
						<label for="file">Upload Image: </label>
						<input type="file" id="file" name="file">
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value = "Upload">
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
	<hr>
	<br>
	<div>
		<h2>History</h2>
			<table border="1">
		<tr>
			<td>Campaign ID</td>
			<td>Status</td>
			<td>Title</td>
		</tr>

		<% 
			campaign.forEach( function(std){ %>
			<tr>
				<td><%= std.id %></td>
				<% if (std.status ==0) { %>
				<td> not approved!</td>
				<%} else if(std.status == 1) { %>
				<td> approved </td>
				<% }else{%>
				<td>block</td> <%} %>
				<td>
					<a href="/organization/view/<%= std.id %>/<%= std.uid %>/<%= std.target_fund %>/<%= std.raised_fund %>/<%= std.ctype %>/<%= std.description %>/<%= std.image %>/<%= std.publisedDate %>/<%= std.endDate %>/<%= std.title %>"><%= std.title %></a>
				</td>
			</tr>
		<%
			}); 
		%>
		
	</table>
		
	</div>
	<script src = "/main.js"></script>
</body>
</html>